* {
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header    {
  background: rgba(255,255,255,.95);
box-shadow: 10px 1px 10px 0;
height: 80px;
    }
    .wander {
    color: #123c69;

    }
    .Way-color {
     color:  rgba(237, 159, 16, 0.703);
     justify-content: space-between;
}
.menu-icon {
    display: none;
    border: none;
    background-color: white;
}
  #navbar {
    display: flex;
  }
@media (max-width: 700px) {
    header {
        width: auto;
        width: 100%;
    }
    .logo {
        font-size: 29px;
        padding-top:13px;
    }
    .logo >.wander {
        font-size: 27px;
        padding-left: 20px;

    }
    .logo>.Way-color {
        font-size: 27px ;
    }
    .menu-icon {
        display: block;
    margin-left: 130px;
    /* font-size: 18px; */

    } 
    #navbar {
        display: none;
        gap: 20px;
    }
    #navbar.show {
        display: flex;
    }
}
.navbar a {
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.navbar a:hover {
    color:  rgba(237, 159, 16, 0.703);
    border-bottom: 5px solid ;
}



/* Hero_Section */




.HeroSection-Img {
    background-image: url("/uhudhigh.com_\ \(2\).png");
    background-size: cover;
    height: 87%;
    margin-top: 7px;
}

.Text_Area {
    margin-top: 15%;
}
.Text_Area p {
    font-size: 25px;
    font-weight: bold;
    color:  rgba(237, 159, 16, 0.703);
}
.Text_Area span {
    color:  rgba(237, 159, 16, 0.703);
}
.Text_Area h1 {
    font-size: 80px;
    font-weight: bolder;
}
.Text_Area > .Second_P{
color: black;
font-size: 18px
}

    .Explore-Btn {
    border-radius: 28px;
    background-color:rgba(237, 159, 16, 0.703);
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    margin-top: 20px;
}
.Explore-Btn:hover {
    transition: transform 0.3s ease-out;
    transform: translateY(-8px);
    opacity: 1;
    color: white;
}
@media (max-width:768px) {
.HeroSection-Img  {
height: auto;
width: 100%;
}
 .Text_Area p {
    font-size: 15px;
    /* font-weight: bold; */
}
.Text_Area h1 {
    font-size: 32px;
    /* font-weight: bolder; */
}
.Explore-Btn {
    margin-bottom: 8%;
    padding: 10px;
}
};


/* Destination_Sections */


 .expl {
    color:rgba(237, 159, 16, 0.703);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}

.Text, .Popular {
    color: #123c69;
    font-weight: bold;
    font-size: 40px;
}

.Text input {
    border-radius: 30px;
    font-size: 16px;
    width: 40%;
    cursor: pointer;
    margin-left: 30%;
    padding-left: 10px;
    padding: 25px;
    border: 2px solid rgba(237, 159, 16, 0.703);
    height: 30px;
    margin-bottom: 90px;
    margin-top:30px;
}
@media (max-width:768px) {
      .Text input {
        width: 80%;
        margin-left: 10%;
    }
    .card-1 ,
    .card-2{
        margin-left:11%;
        margin-bottom: 5%;
    }
}



.card--2 {
    border-radius: 490px;
    /* gap: 20px; */
}
.card-title {
    color: #123c69;
    text-align: left;
    font-weight: bold;
}
.card-text {
    font-weight: 200;
    font-size: 15px;
    text-align: left;
    color: rgba(0, 0, 0, 0.507);
}
.card-body p {
    text-align: left;
    font-size: 18px;
}
.dollor {
    color: rgba(237, 159, 16, 0.703);
}
.card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-color: rgba(124, 58, 237, 0.2);
     opacity: 1;
        transition: transform 0.4s ease-out;
}



/* Best Tour Packages section */


.Travel_Section {
background-color: #F6F8FA;
margin-top: 150px;
}

.btn-1 {
    border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: 20px;
    width: 65px;
    padding: 9px;
    margin-left: 36%;
    gap: 30px;
    background-color: #123c69;
    color: white ;
    margin-right: 20px;
}
.btns {
     border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: 20px;
    width: 80px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 20px;
    background-color: white;
}
 .btns:hover {
    background-color: #123c69;
    color: white;
}
@media (max-width:768px) {
    .expl {
        font-size: 16px;
        color: #f39c12;
        text-align: center;
        padding-top: 5%;
    }
    .btn-1 {
        margin-left: 5%;
    }
    .btns {
        margin-left: 1%;
    }
    .btn-4 {
        margin-left: 33%;
        margin-bottom: 5%;
    }
}
/* Cards */

.Expl {
text-align: center;
 color: rgba(237, 159, 16, 0.703);
font-weight: bold;
padding-top: 90px;
}

.icons {
    font-size: 40px;
    margin-left: 20px;
    margin-top: 18px;
}
.card-body h6 {
    color: rgba(237, 159, 16, 0.703);
    font-weight: bold;
}

 .person {
    font-size: 12px;
    color:rgba(0, 0, 0, 0.507);
}

#Dollor {
    color: #123c69;
    font-size: 29px;
    font-weight: bolder;
}

.btn-book {
    background-color: #123c69;
    width: 235px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.btn-book:hover {
    background-color:#f39c12 ;
}


/* .Galler-Section */

.Gallery img {
    margin-top: 80px;
    border-radius: 40px;
    width: 100%;
}
.Gallery img:hover {
  transform: translateY(-8px);

    transition: transform 0.3s ease-out;
    cursor: pointer;
}